<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard sidebar menu | Dark-light Mode</title>
    <!-------#######  CSS ####### -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css">

    <!-------####### BOXICONS CSS ####### -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="static/logo.png" alt="logo">
                    <div class="text-header-text">
                        <span class="name">AIBOT</span>
                        <SPAN class="profession">WEB DEVELOPER</SPAN>
                    </div>
                </span> 
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <a href="#">
                        <i class='bx bx-search icon' ></i>
                       <input type="text" placeholder="search...">
                    </a>
                </li>
                <ul class="menu-bar">
                    <li class="menu">
                        <a href="#">
                            <i  class='bx bx-home-alt icon'></i>
                           <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="#">
                            <i  class='bx bx-coffee icon'></i>
                           <span class="text nav-text">Feedback</span>
                        </a>
                    </li> <li class=" ">
                        <a href="#">
                            <i  class='bx bx-save icon'></i>
                           <span class="text nav-text">My saves</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="#">
                            <i  class='bx bx-history icon'></i>
                           <span class="text nav-text">Histroy</span>
                        </a>
                    </li>
                    
                </ul>
            </div><br><br><br><br><br><br><br>
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                       <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                   <div class="moon-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                   </div>
                   <span class="mode-text text">Dark Mode</span>

                   <div class="toggle-switch">
                    <span class="switch"></span>
                   </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        <h1> ChatBot </h1>
        <div class="text"></div>
        <DIV class="bottom-section">
            <div class="input-container">
            <input class= "py-4 rounded-md"placeholder="Send a Meassage" type="text" name="text" id=""/>
                <div class="submit">➤</div>
            </div>
        </DIV>
        <p class="info">Our goal is to make AI Systems more natural safe to interact with.
            Your feedback help us to improve.
        </p>
    </section>
    <script src="static/js/script.js">


    </script>
</body>
</html>